<div class="login-container" *ngIf="!enableRouting">
  <img src="assets/logo.jpg" alt="Logo" class="logo-image">
  <form class="login-form" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" [(ngModel)]="userName">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <button class="forgot-password-button">Forgotten Password?</button>
  <br>
  <div class="or-text">or</div>
  <button class="new-user-button" (click)="openNewUserComponent()">New User</button>

  <button class="testing" (click)="testing()">testing button</button>
  <br>
  <li *ngFor="let item of items">{{ item }}</li>
</div>

<router-outlet *ngIf="enableRouting"></router-outlet>
